//=============================================
// APPLICATION COLOR PALLETE VARIABLES
//=============================================
$color-scheme: (
  "teal": (
    "900": #011a27,
    "800": #043b56,
    "700": #0b618f,
    "600": #0e89c6,
    "500": #24acee,
    "400": #4abff9,
    "300": #89d5fb,
    "200": #b3e4fb,
    "100": #d9f1fd,
    "50": #eef9fd,
    "10": #fbfeff,
  ),
  "green": (
    "900": #0b2e16,
    "800": #155728,
    "700": #227b3b,
    "600": #2c9a4b,
    "500": #3ab75d,
    "400": #65cd82,
    "300": #8ddca2,
    "200": #b4e7c3,
    "100": #d5f2dd,
    "50": #f1faf3,
    "10": #fafffb,
  ),
  "yellow": (
    "900": #372401,
    "800": #6d4805,
    "700": #a16a07,
    "600": #d18c0f,
    "500": #eea41a,
    "400": #f1b343,
    "300": #f5ca79,
    "200": #f8d9a0,
    "100": #fbe8c6,
    "50": #fef8ec,
    "10": #fffdf7,
  ),
  "red": (
    "900": #2d0a14,
    "800": #521224,
    "700": #7b1c38,
    "600": #a3284c,
    "500": #cd3c64,
    "400": #d45d7f,
    "300": #de7d99,
    "200": #eaadbf,
    "100": #f2cdd8,
    "50": #fbeef2,
    "10": #fefbfc,
  ),
  "grey": (
    "900": #171918,
    "800": #353a39,
    "700": #525857,
    "600": #696f6e,
    "500": #818988,
    "400": #a8b1af,
    "300": #c1c9c8,
    "200": #d5dddc,
    "100": #e5edeb,
    "50": #f1f7f6,
    "10": #f6faf9,
  ),
  "neutral": (
    "900": #000000,
    "800": #171716,
    "700": #2e2e2c,
    "600": #454442,
    "500": #5c5b58,
    "400": #5c5b58,
    "300": #73726e,
    "200": #a0a099,
    "100": #cecdc5,
    "50": #e5e4db,
    "10": #ffffff,
  ),
);

//=============================================
// GENERATE COLOR BASED CLASS NAMES
//=============================================
@each $color-type, $color-shades in $color-scheme {
  @each $color-shade, $color in $color-shades {
    .#{$color-type}-#{$color-shade} {
      color: $color;
    }

    .#{$color-type}-#{$color-shade}-bg {
      background: $color;
    }

    .border-#{$color-type}-#{$color-shade} {
      border: 0.0625rem solid $color;
    }

    .border-top-#{$color-type}-#{$color-shade} {
      border-top: 0.0625rem solid $color;
    }

    .border-bottom-#{$color-type}-#{$color-shade} {
      border-bottom: 0.0625rem solid $color;
    }

    .border-left-#{$color-type}-#{$color-shade} {
      border-left: 0.0625rem solid $color;
    }

    .border-right-#{$color-type}-#{$color-shade} {
      border-right: 0.0625rem solid $color;
    }
  }
}

//=============================================
// FUNCTION TO SPLIT STRINGS BY A SEPARATOR
//=============================================
@function str-split($string, $separator) {
  $i: str-index($string, $separator);
  @if $i != null {
    @return append(
      str-slice($string, 1, $i - 1),
      str-split(str-slice($string, $i + str-length($separator)), $separator)
    );
  }
  @return $string;
}

//====================================================
// FUNCTION TO GENERATE COLOR NAME FROM COLOR SCHEME
//====================================================
@function getColor($color-shade) {
  $splitted-color: str-split($color-shade, "-");
  $color-map: map-get($color-scheme, nth($splitted-color, 1));
  @return map-get($color-map, nth($splitted-color, 2));
}



/*------------------------------------*\
	Avatar Profiling Color Palette
\*------------------------------------*/
$chestnut: rgb(184, 129, 53);
$pampers: rgb(0, 169, 164);
$cherry-tomato: rgb(233, 75, 60);
$aspen-gold: rgb(218, 174, 55);
$verdant-green: rgb(32, 143, 34);
$orange-shire: rgb(249, 87, 0);
$fuschia: rgb(46, 204, 99);
$toffee: rgb(117, 81, 57);
$pale-yellow: rgb(255, 174, 0);
$black-cloud: rgb(14, 29, 44);
$navy-blue: rgb(37, 50, 79);
$forest-green: rgb(41, 114, 42);
$deep-blue: rgb(1, 59, 131);
$bright-red: rgb(233, 68, 8);
$crimson: rgb(172, 80, 103);
$royal-blue: rgb(41, 0, 189);
$light-green: rgb(3, 201, 85);
$royal-purple: rgb(164, 3, 186);
$scarlet: rgb(213, 14, 123);
$kelly-green: rgb(51, 158, 102);
$miami: rgb(220, 124, 40);
$deep-purple: rgb(51, 13, 72);
$windsor-wine: rgb(100, 62, 70);
$sprout: rgb(57, 65, 65);
$slack: rgb(74, 21, 75);
$fedex: rgb(37, 12, 119);

$profile-color: () !default;
$profile-color: map-merge(
  (
    "chestnut": $chestnut,
    "pampers": $pampers,
    "cherry-tomato": $cherry-tomato,
    "aspen-gold": $aspen-gold,
    "verdant-green": $verdant-green,
    "orange-shire": $orange-shire,
    "fuschia": $fuschia,
    "toffee": $toffee,
    "pale-yellow": $pale-yellow,
    "black-cloud": $black-cloud,
    "navy-blue": $navy-blue,
    "forest-green": $forest-green,
    "deep-blue": $deep-blue,
    "bright-red": $bright-red,
    "crimson": $crimson,
    "royal-blue": $royal-blue,
    "scarlet": $scarlet,
    "kelly-green": $kelly-green,
    "miami": $miami,
    "deep-purple": $deep-purple,
    "windsor-wine": $windsor-wine,
    "sprout": $sprout,
    "slack": $slack,
    "fedex": $fedex,
  ),
  $profile-color
);

@each $color-name, $color in $profile-color {
  .#{$color-name} {
    color: $color !important;
  }

  .#{$color-name}-bg {
    background-color: $color !important;
  }
}