.table-wrapper {
  overflow: auto;
  width: 100%;
  padding: 0;

  &::-webkit-scrollbar {
    height: toRem(5);
  }

  &::-webkit-scrollbar-track {
    border-radius: toRem(5);
  }

  &::-webkit-scrollbar-thumb {
    background: getColor("grey-50");
    border-radius: toRem(5);
  }

  .table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;

    @include breakpoint-down(xl) {
      min-width: max-content;
    }

    thead {
      @include generate-font-type("secondary-2");
      color: getColor("grey-500");

      @include breakpoint-down(sm) {
        font-size: toRem(13.45);
      }

      tr {
        border: none;
        border-top: 0 !important;
        border-bottom: toRem(0.5) solid getColor("grey-200");
      }
    }

    tbody {
      @include generate-font-type("tertiary-2");
      color: getColor("grey-800");
      font-size: toRem(13.85);

      @include breakpoint-down(sm) {
        font-size: toRem(13.5);
      }

      tr {
        cursor: pointer;
        vertical-align: middle;
        transition: all 0.3s ease-in-out;
        border-bottom: toRem(1) solid getColor("grey-100");
        padding: toRem(30) toRem(32);

        &:hover {
          background: getColor("grey-10");
        }
      }
    }

    .head-data {
      padding: toRem(8) toRem(32);

      @include breakpoint-down(sm) {
        padding: toRem(8) toRem(28);
      }
    }

    .body-data {
      padding: toRem(16) toRem(32);

      @include breakpoint-down(sm) {
        padding: toRem(16) toRem(28);
      }
    }
  }

  .rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: toRem(1) solid getColor("grey-200");

    td {
      @include font-height(13, 18, 400);
      padding: toRem(10) toRem(20);
      color: getColor("grey-500");
    }
    
    tbody {
      td {
        color: getColor("grey-700");
      }

      tr {
        border-bottom: toRem(1) solid transparent;
      }
    }
  }

    /* Apply a border to the right of all but the last column */
    table.rounded-corners th:not(:last-child),
    table.rounded-corners td:not(:last-child) {
      border-right: toRem(1) solid getColor("grey-200");
    }

    /* Apply a border to the bottom of all but the last row */
    table.rounded-corners > thead > tr:not(:last-child) > th,
    table.rounded-corners > thead > tr:not(:last-child) > td,
    table.rounded-corners > tbody > tr:not(:last-child) > th,
    table.rounded-corners > tbody > tr:not(:last-child) > td,
    table.rounded-corners > tfoot > tr:not(:last-child) > th,
    table.rounded-corners > tfoot > tr:not(:last-child) > td,
    table.rounded-corners > tr:not(:last-child) > td,
    table.rounded-corners > tr:not(:last-child) > th,
    table.rounded-corners > thead:not(:last-child),
    table.rounded-corners > tbody:not(:last-child),
    table.rounded-corners > tfoot:not(:last-child) {
      border-bottom: toRem(1) solid getColor("grey-200");
    }
}
